@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  MEDIA QUERY MANAGER
0 - 600px:          Phone
600 - 900px:        Tablet Portrait
900 - 1200px:       Tablet Landscape
[1200 - 1800]       Normal styles apply
1800px +:           Big Desktop
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
1em = 16px
*/

/* 
CELL PHONE 
@media only screen and (max-width: 37.5rem) {}

TABLET PORTRAIT OR LARGER
@media only screen and (min-width: 56.25rem) {}

TABLET LANDSCAPE OR LARGER
@media only screen and (min-width: 64rem) {}

BIG TABLET LANDSCAPE OR LARGER 2
@media only screen and (min-width: 75rem) {}

LAPTOP OR LARGER
@media only screen and (min-width: 112.5rem) {}
*/


@mixin respond ($breakpoint) {
    @if $breakpoint == tab-port {
        @media (min-width: 56.25em) { @content };     // 900px / 16 = 56.25em
    }
    @if $breakpoint == tab-land {
        @media (min-width: 64em) { @content };     // 900px / 16 = 56.25em
    }
    @if $breakpoint == big-tab-land {
        @media (min-width: 75em) { @content };    // 1200px / 16 = 75em
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };    // 1800px / 16 = 112.5em
    }
}