// COLORS

$color-primary: #5CDB95;
$color-primary-light: #8EE4AF;
$color-primary-dark: #379683;

$color-secondary: #05386B;
$color-secondary-light: #07529C;
$color-secondary-dark: #031F3A;

$color-tertiary: #6B3805;
$color-tertiary-light: #9C5207;
$color-tertiary-dark: #3A1F03;

$color-highlight: #EDF5E1;

$color-grey-light-1: #F7F7F7;
$color-grey-light-2: #EEEEEE;
$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;

$color-white: #FFFFFF;
$color-black: #000000;

// FONT

$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$border-radius-small: 3px;

// Z-INDEX
